@import "tailwindcss";

:root {
  --background: #b6bdc5;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #b6bdc5;
  }
}
*{
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.sti {
  position:sticky;
}


h1{ 
  color: var(--foreground);
}
p {
  color: var(--foreground);
}


.animatedown {
  animation: animatedown 1s ease-out ;
  transition: 0.8s;
}

@keyframes animatedown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(80px); 
    visibility: hidden;
  }
}
.animateup {
  transition: 0.8s ;
  animation: animateup 1s ease-out ;
  animation-delay: 1s;
}


@keyframes animateup {
  0%{ 
    transform: translateY(0);
  }
  100% {
    transform: translateY(-900px);
  }
}

.back { 
  backdrop-filter: blur(10px);
}

@layer main {
  .Scrollitem {
    @apply flex h-50 justify-center items-center absolute left-[100%] mx-1;
  }
}

@keyframes scrolling {
  to {
    left: -50% ;
  }
}

.Scrollitem {
  animation: scrolling 5s linear infinite;
}

.Scrollitem1 {
  animation-delay: calc(5s / 5 * (5 - 1) * -1);
}

.Scrollitem2 {
  animation-delay: calc(5s / 5 * (5 - 2) * -1);
}

.Scrollitem3 {
  animation-delay: calc(5s / 5 * (5 - 3) * -1);
}

.Scrollitem4 {
  animation-delay: calc(5s / 5 * (5 - 4) * -1);
}
.Scrollitem5 {
  animation-delay: calc(5s / 5 * (5 - 5) * -1);
}

.Objects {
  filter: drop-shadow(10px 10px 10px var(--foreground));
}

.blurtext {
animation: blurring 5s ease-out 1;
}

@keyframes blurring {
  0% { 
    filter: blur(12px);
  }
  100% {
    filter: blur(0px);
  }
}

